<div class="container">
   <div>
    <app-weather-data></app-weather-data>
   </div>
</div>
<!-- <router-outlet></router-outlet> -->



















































































<!-- <div style="display: flex;">
<div class="col-sm-3 leftSide">
    <app-left></app-left>
</div>
<div class="col-sm-6 middleSide">
    <app-middle></app-middle>
</div>
<div class="col-sm-3 lastSide">
    <app-last></app-last>
</div>
</div> -->
<!-- 
<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="active" href="/">Home</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="active" href="/about">About</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="active" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div> -->